<br>
<div class="row">
  <div class="col-md-12 text-end">
    <a routerLink="usuario-nuevo" class="btn btn-info">
      Nuevo Usuario&nbsp; <i class="bi bi-plus-lg"></i>
    </a>
  </div>
</div>
<br>


<div class="card">
  <div class="card-body">
    <table mat-table [dataSource]="dataSource" class="table table-striped" matSort>

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.Id} </td>
       </ng-container>

       <ng-container matColumnDef="nombre">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre </th>
           <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
       </ng-container>
      
       <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef> apellido </th>
           <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>
    
       <ng-container matColumnDef="dni">
           <th mat-header-cell *matHeaderCellDef> dni </th>
           <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
       </ng-container>
    
       <ng-container matColumnDef="correo">
           <th mat-header-cell *matHeaderCellDef> correo </th>
           <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
       </ng-container>

       <ng-container matColumnDef="contrasena">
         <th mat-header-cell *matHeaderCellDef> correo </th>
         <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
       </ng-container>

       <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> correo </th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
       </ng-container>

       <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef> correo </th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
       </ng-container>

       <ng-container matColumnDef="acciones">
           <th mat-header-cell *matHeaderCellDef> 
            <button [routerLink]="['/agregar']" class="agregar" mat-raised-button color="primary">Aceptar</button>    
           </th>
          <td mat-cell *matCellDef="let element"> 
              <button routerLink="/actualizar{{ element.id }}" matTooltip="Editar" class="edit" fontIcon="edit"></button>    
             <button (click)="eliminarUsuario(element.id)" class="col-sm-4 mb-3 mt-2" class="btn btn-danger"></button>    
       </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

</div>

