<section class="container-picture">
    <img src="assets\image\foto-virtual.png" alt="picture" class="image">
    <h1>Proyectos propuestos por el laboratorio CTIC</h1>
    <p class="form-submit">
      <input name="submit" type="submit" id="submit" class="submit" value="Ingresar sesión" routerLink="/login">
    </p>
  </section>
  <h2 class="title">Noticias</h2>

  <div class="container">
    <div class="row">
      <div class="col cont" >
        <a href="https://www.ctic.uni.edu.pe/webinar-robots-autonomos-en-agricultura/">
          <img src="assets\image\noticia-robot.png"  class="image-cvv rounded-lg center" >
          <h1 class="title">WEBINAR: ROBOTS AUTÓNOMOS EN AGRICULTURA</h1>
          <h5 class="description">Participa en el #webinarlibre sobre «Robots Autónomos en agricultura.<br>
            Regístrate aquí 👉https://bit.ly/3AnE60R<br>
            📅Día: Sábado 01/octubre<br>
            ⏰Hora: 18:00 a 20:00hrs.<br>
            🧑‍💻Plataforma: Zoom<br>
            📌 Expositor: Bach. Brayan Laura O.
  ¡Acceso libre previa inscripción!
          </h5>

        </a>

      </div>
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col cont">
                <td><img src="assets\image\noticia1.jpg" alt="chargemovil" class="image-chargemovil"></td>
                <td><h1 class="title-chargemovil">Tema 1</h1></td>
              <h5>CTIC.</h5>
              <h5 style="color: rgb(113, 12, 25);">Conoce más</h5>
            </div>
            <div class="col cont">
              <img src="assets\image\noticia2.jpg" alt="chargemovil" class="image-chargemovil">
              <h1 class="title-chargemovil">Tema 2</h1>
              <h5>CTIC.</h5>
              <h5 style="color: rgb(113, 12, 25);">Conoce más</h5>
            </div>
          </div>
          <div class="row">
            <div class="col cont">
              <img src="assets\image\noticia3.jpg" alt="chargemovil" class="image-chargemovil">
              <h1 class="title-chargemovil">Tema 3</h1>
              <h5>CTIC.</h5>
              <h5 style="color: rgb(113, 12, 25);">Conoce más</h5>
            </div>
            <div class="col cont">
              <img src="assets\image\noticia4.jpg" alt="chargemovil" class="image-chargemovil">
              <h1 class="title-chargemovil">Tema 4</h1>
              <h5>CTIC.</h5>
              <h5 style="color: rgb(113, 12, 25);">Conoce más</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


