.title{
    text-align: center;
    font-size: 2.1rem;
    padding: 2rem;
    font-weight: bold;
  }

  .image{
  width: 100%;
  }
  .description{
    text-align: center;
    color: rgb(89, 90, 93);
    padding: 1rem;
  }
  .cont:hover{
  background-color: rgb(205, 210, 218);
  cursor: pointer;
  padding: 1rem;
  }
  .image-cvv{
   background-size: contain;
  }
  .container{
    padding: 2rem;
  }
  .image-chargemovil{
    width: 5rem;
    height: 5rem;
    text-align: center;

  }
  .title-chargemovil{

    font-size: 1rem;
    padding: 2rem;
    font-weight: bold;
  }
  .submit{
    background: rgb(113, 12, 25);
    margin: 10px 0px 0px;
    padding: 18px 40px 16px;
    color: white;
    border-radius: 10px;
  }
  .container-picture{
    display:inline-block;
    position:relative;

  }
  .container-picture h1{

    color: rgb(113, 12, 25);
    position: absolute;
    bottom:9em;
    right: 4em;
    width: 30%;

  }

  .container-picture input{
    background: rgb(113, 12, 25);
    margin: 10px 0px 0px;
    padding: 18px 40px 16px;
    color: white;
    position: absolute;
    bottom:12em;
    right:7em;
    background-color:#8F0005;
    border-radius:1.5em;
    text-transform:uppercase;
    width: 20%;

    }

