<nav class="navbar navbar-expand-lg navbar-dark header" style="background-color: rgb(113, 12, 25);" >
    <div class="container-fluid">
      <img src="assets\image\logo-ctic-blanco.png" alt="logo" class="image">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li>
            <a class="nav-link active link" aria-current="page" routerLink='' >Home</a>
          </li>
          <li>
            <a class="nav-link active link" aria-current="page" routerLink='../login' >Login</a>
          </li>
          <li>
            <a class="nav-link active link" aria-current="page" routerLink='' >Preguntas Frecuentes</a>
          </li>
        </ul>
        <div class="icons">
          <a class="fa-brands fa-youtube"  href="https://www.youtube.com/channel/UCW939uLp9ZkaU471uBn314w" style="padding:0.5rem; font-size:30px; color:white"></a>
          <a class="fa-brands fa-facebook" href="https://www.facebook.com/cticuni" style="padding:0.5rem; font-size:30px; color:white"></a>
          <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/company/ctic-uni/" style="padding:0.5rem; font-size:30px; color:white"></a>
        </div>
      </div>
    </div>
  </nav>


